#sidepane {
    width: 50%;
    float: right;
    border: 1px solid black;
}

#objectspane{
    width: 100%;
    float: left;
    background-color: #f1f1f1;
}

#propertiespane {
    width: 100%;
    float: left;
    background-color: #f2f2f2;
}

.paneui{
    border: 1px solid green;
}
.panetitle{
    text-decoration: underline;
    text-align: center;
}

.uispec_property{
    float: left;
}
.uispec_proptitle{
    text-decoration: underline;
    display:inline;
}
.uispec_propvalue{
    display:inline;
}

.objectui {
    
}


